<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Important message from , <%= @name %> -- <%= @email %></h1>
    <p>
       <%= @message %><br>
    </p>
    <p>
      <%= @email %>
    </p>


    
    ------------------------------------
    Stay cool.
  </body>
</html>