$red: #DF5A49;
$orange: #E27A3F;
$yellow: #EFC94C;
$green: #45B29D;
$dark-green: #334D5C;

.main { // should = timeline
    background-color: $orange;
}


#intro {
    background-color: $red;
}

#services {
    background-color: $orange;
}

#skills {
    background-color: $yellow;
}

#interesting-stuff {
    background-color: $green;
}

#timeline_ {
    background-color: $orange;
}

#projects {
    background-color: $red;
}

#about {
    background-color: $green;
}

#contact {
    background-color: $yellow;
}


.element {
    position: absolute; 
    left: 0px; 
    top: 0px;
}

figure {
    height: 100%;
}

.flash-notice {
    background-color: $green;
    padding: 2em;
    margin: 1em;
    font-size: 1.4em;
    color: #fff;

    border-radius:2em;
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em;

}

// rgb(223, 90, 73)
// rgb(226, 122, 63)
// rgb(239, 201, 76)
// rgb(69, 178, 157)
// rgb(51, 77, 92)


// intro
// services
// skills
// interesting-stuff
// timeline
// portfolio
// about
// contact


// r
// g
// o
// (dg)